<app-data-table-form></app-data-table-form>
<table>
  <thead>
  <tr>
    <th>
      <a
        (click)="toggleSortDirection(0)"
        [queryParams]="{ sortDir, sortCol: 0 }"
        [routerLink]="[]"
        queryParamsHandling="merge"
      >Title</a
      >
    </th>
    <th>
      <a
        (click)="toggleSortDirection(1)"
        [queryParams]="{ sortDir, sortCol: 1 }"
        [routerLink]="[]"
        queryParamsHandling="merge"
      >Status</a
      >
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of testData$ | async">
    <td>{{ data.title }}</td>
    <td>{{ data.status }}</td>
  </tr>
  </tbody>
</table>
